<a href="https://colab.research.google.com/github/a-Imantha/simple-ml/blob/main/ID3%20and%20C4.5%20Algorithms%20for%20Breast%20Cancer%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# C4.5 and ID3 Algorithms for WBCD DB

## Importing the initial libraries and doing configurations

In [ ]:
import numpy as np
import pandas as pd
import sys
np.set_printoptions(threshold=sys.maxsize)

## Importing the dataset
Dataset Download link: [click here](https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data)

Dataset Download Page: [click here](https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic))

In [ ]:
dataset_original = pd.read_csv('/content/breast-cancer-wisconsin.data')

## Trying the Suggested Approaches

### Approach 01: By Removing the rows with missing values

In [ ]:
dataset = dataset_original.replace('?',pd.NaT).dropna()

X = dataset.iloc[:, 1:-1].values.astype(int)
y = dataset.iloc[:, -1].values

#### Splitting the dataset into the Training set(65%) and Test set(35%)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 0)

#### Training the Logistic Regression model on Training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(class_weight={2:1,4:6})
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight={2: 1, 4: 6}, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#### Printing the Prediction against the trained model for the Test set for comparison

In [ ]:
y_pred = classifier.predict(X_test)
#print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

#### Confusion Matrix on the test results

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[151   4]
 [  2  82]]

0.9748953974895398

In [ ]:
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    2   4  All
True
2          151   4  155
4            2  82   84
All        153  86  239

### Approach 02: By replacing the missing values with 1

In [ ]:
from sklearn.impute import SimpleImputer
dataset = dataset_original

X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

imputer = SimpleImputer(missing_values='?', strategy='constant', fill_value=1)
imputer.fit(X)
X = imputer.transform(X).astype(int)

#### Splitting the dataset into the Training set(65%) and Test set(35%)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 0)

#### Training the Logistic Regression model on  Training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(class_weight={2:1,4:6})
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight={2: 1, 4: 6}, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#### Printing the Prediction against the trained model for the Test set for comparison

In [ ]:
y_pred = classifier.predict(X_test)
#print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

#### Confusion Matrix on the test results

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[149   7]
 [  1  88]]

0.9673469387755103

In [ ]:
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    2   4  All
True
2          149   7  156
4            1  88   89
All        150  95  245